<div>
    <button (click)="goBack()" class="back-navigation">
        <img src="../../../assets/back.svg" alt="back">
    </button>
    <h1>Comment vous <br> appelez-vous ?</h1>
    <form (ngSubmit)="onSubmit(form)" #form="ngForm">
        <div class="input-container">
            <label for="firstname">Prénom</label>
            <input type="text"
                   name="firstname"
                   id="firstname"
                   placeholder="prénom"
                   ngModel=""
                   required
                   #firstname>
        </div>
        <div class="input-container">
            <label for="lastname">Nom</label>
            <input type="text"
                   name="lastname"
                   id="lastname"
                   placeholder="nom"
                   ngModel=""
                   #lastname
                   required>
        </div>
        <button type="submit" class="submit" [disabled]="!form.valid">continuer</button>
    </form>
</div>
