<div class="daily-program-container" *ngIf="planning">
  <ul class="daily-program">
    <li *ngFor="let program of planning.days" class="program-day">
      <div
        class="container-img"
        [ngStyle]="{'background-image': 'url(./assets/' + getDayInFr(program.day) + '.jpg)'}">
        <div class="overlay"></div>
        <h3>{{getDayInFr(program.day)}}</h3>
      </div>
      <div class="day">
        <div class="morning">
          <h4>matin</h4>
          <ul>
            <li>
              <h5>petit déjeuner</h5>
              <p>8h - 9h</p>
            </li>
            <li *ngFor="let morning of program.morning">
              <h5>{{morning.session}}</h5>
              <p>{{morning.time}}</p>
            </li>
            <li>
              <h5>déjeuner</h5>
              <p>13h - 14h</p>
            </li>
          </ul>
        </div>
        <div class="afternoon">
          <h4>après-midi</h4>
          <ul>
            <li>
              <h5>Collation</h5>
              <p>16h30</p>
            </li>
            <li *ngFor="let afternoon of program.afternoon">
              <h5>{{afternoon.session}}</h5>
              <p>{{afternoon.time}}</p>
            </li>
          </ul>
        </div>
        <div class="night">
          <h4>Soir</h4>
          <ul>
            <li>
              <h5>Diner</h5>
              <p>20h</p>
            </li>
          </ul>
        </div>

      </div>
    </li>
  </ul>
</div>
