<app-loader *ngIf="isLoading"></app-loader>
<div *ngIf="!isLoading">
  <h1 class="center">Bonjour{{firstname}}</h1>
  <p class="center">Activez votre compte maintenant !</p>
  <form (ngSubmit)="onSubmit(form)" #form="ngForm">
    <div class="input-container">
      <label for="email">Email</label>
      <input type="text" name="email" id="email" placeholder="email" [(ngModel)]="email">
    </div>
    <div class="input-container">
      <label for="email">Mot de passe</label>
      <div class="password">
        <input type="password" name="password" id="password" placeholder="mot de passe" #password ngModel="" required>
        <button (click)="changeVisibilityPassword($event); $event.preventDefault()">
          <img src="./assets/{{isPwdHidden ? 'visibility': 'no-visibility'}}.svg" alt="">
        </button>
      </div>
    </div>
    <div class="input-container">
      <label for="confirmPassword">Confirmez mot de passe</label>
      <input type="password" name="confirmPassword" id="confirmPassword" #passwordConfirm
             placeholder="confirmez mot de passe"
             ngModel="" required>
    </div>
    <button type="submit" class="submit">créez mot de passe</button>
  </form>
</div>
