<nav class="nav-bar">
  <ul>
    <li routerLink="/accueil" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
      <img src="../../../assets/home.svg" alt="home">
      <a>Accueil</a>
    </li>
    <li routerLink="/groups" routerLinkActive="active">
      <img src="../../../assets/groups.svg" alt="groups">
      <a>Les groupes</a>
    </li>
    <li routerLink="/mon-planning" routerLinkActive="active">
      <img src="../../../assets/calendar.svg" alt="calendar">
      <a>Mon planning</a>
    </li>
    <li routerLink="/nouvelle-seance" routerLinkActive="active">
      <img src="../../../assets/sport.svg" alt="sport">
      <a>Nouvelle séance</a>
    </li>
  </ul>
</nav>
